🔔 Price change

{{.ProductLinkName}}
{{.ProductLinkURL}}

New price: {{.NewPrice}}
Vs previous scan: {{.DeltaVsPrevious}}
Vs lowest recorded on this link: {{.DeltaVsLinkLowest}}

{{.Cross}}{{.NoteExtra}}
