Hello {{.Invitee}},

{{.Inviter}} has invited you to join the family "{{.Family}}" on MMFamily.

Open the link below on your profile page to review and accept or decline:
{{.ProfileLink}}

If you were not expecting this invitation, you can ignore this message.
